<div class="flex flex-col min-h-screen bg-blanco text-verde font-sans">
    <!-- Header -->
    <header class="bg-verde text-blanco shadow-md">
        <div class="max-w-screen-xl mx-auto flex items-center justify-between p-4">
            <h1 class="text-2xl sm:text-3xl font-bold tracking-wide">
                🌿 Raíces
            </h1>
        </div>
    </header>

    <!-- Contenido principal que crece para empujar el footer -->
    <main class="flex-grow mt-3">
        <router-outlet />
    </main>

    <!-- Footer -->
    <footer class="bg-verde text-white text-center text-sm py-4 shadow-md">
        © 2025 Raíces - Municipio de Repelón
    </footer>
</div>